/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #1f1f1f; /* Latar belakang gelap */
  color: white; /* Warna teks putih */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333; /* Warna latar belakang container */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 2px solid #00bfff; /* Garis biru terang */
}

h1 {
  text-align: center;
  color: #00bfff; /* Judul berwarna biru terang */
  margin-bottom: 30px;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 80%;
  margin-right: 10px;
  background-color: #444; /* Warna latar belakang input */
  border: 1px solid #00bfff; /* Garis input berwarna biru terang */
  border-radius: 4px;
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #00bfff; /* Tombol berwarna biru terang */
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #009acd; /* Tombol hover berwarna biru lebih gelap */
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #00bfff; /* Hasil pencarian berwarna biru terang */
}

#chart-container {
  margin-top: 40px;
  background-color: #222; /* Latar belakang chart */
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #00bfff; /* Garis biru terang di sekitar chart */
}

canvas {
  background-color: #222; /* Latar belakang grafik candlestick */
  border-radius: 8px;
}
